#wrapper{
    padding: 0px;
}

body{
    background-color: #f8f8f8;
}

.navbar.navbar-default{
    border-width: 0 0 1px;
}
.navbar-top-links{
    display: inline-block;
}

.navbar-top-links li{
    display: inline-block;
}

#main-container {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
    padding-bottom: 30px;
}
@media (min-width: 768px) {
    #main-container {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        padding-bottom: 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.sidebar-container{
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px){
    .sidebar-container {
        z-index: 1;
        position: absolute;
        width: 250px;
    }
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.sidebar .sidebar-nav .nav{
    margin: 0px;
}
.sidebar .sidebar-title {
    padding: 15px;
}
.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
    background-color: #eeeeee;
}
.sidebar .arrow {
    float: right;
}
.sidebar .fa.arrow:before {
    content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}
.sidebar .nav-second-level li a {
    padding-left: 37px;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
@media (min-width: 768px) {
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
body footer{
    margin: 0px;
}

/* Loading */
/* Absolute Center Spinner */
#loading-view {
    position: fixed;
    z-index: 999;
    width: 70px;
    height: 70px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
}

/* Transparent Overlay */
#loading-view:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18,29,6,0.2);
}

@media (max-width: 768px){
    .menu-hand{
        -ms-transform: rotate(120deg); /* IE 9 */
        -webkit-transform: rotate(120deg); /* Chrome, Safari, Opera */
        transform: rotate(120deg);
    }
}

/* Login */

.login-panel {
    margin-top: 25%;
    margin-bottom: 50%;
}

/* Form */

.form-container .tab-content{
    min-height: 400px;
    padding-bottom: 15px;
}

.form-group.file{
    display: none;
}

.nav.nav-tabs{
    margin-bottom: 30px;
}

.checkbox-group label.custom-checkboxes{
    display: block;
}

.checkbox-group .checkbox{
    display: inline-block;
    min-width: 100px;
    padding-right: 15px;
}

/* Image Selecter */
.image-preview-container img, .images-updloaded-container img {
    -webkit-box-shadow: 0px 4px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 14px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 14px -1px rgba(0, 0, 0, 0.75);
}
.image-preview-container img{
    max-width: 500px;
    max-height: 500px;
}
.images-updloaded-container .img-item-content{
    height: 140px;
}
.images-updloaded-container img{
    max-width: 100%;
}
.images-view-container .img-item-content{
    height: 140px;
    position: relative;
}

.images-view-container img{
    max-width: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
}