.navbar{
  border-color: $brand-success;
  @media screen and (max-width: $screen-sm) {
    min-height: $navbar-height/2;
  }

  .navbar-brand{

    padding: 0px 15px;
    @media screen and (max-width: $screen-sm) {
      height: $navbar-height/2;
    }

    .brand-logo{
      height: 100%;
      width: 260px;
      background: url('../../../src/img/logo.png') no-repeat left center;
      background-size: contain;
      @media screen and (max-width: $screen-sm) {
        width: 160px;
      }
    }
  }

  .navbar-toggle {
    @media screen and (max-width: $screen-sm) {
      margin-top: ((($navbar-height/2) - 34px) / 2);
      margin-bottom: ((($navbar-height/2) - 34px) / 2);
    }
  }
}
